<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
  <add key="ClientID" value="api_hubic_1366206728U6faUvDSfE1iFImoFAFUIfDRbJytlaY0"/>
  <add key="ClientSecret" value="gXfu3KUIO1K57jUsW7VgKmNEhOWIbFdy7r8Z2xBdZn5K6SMkMmnU4lQUcnRy5E26"/>
</appSettings>
</configuration>